@tailwind base;
@tailwind components;
@tailwind utilities;

.main-div {
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
}

.scroll-container {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.scroll-content {
  display: flex;
  gap: 50px;
  width: max-content;
  animation: scroll-left-right 10s linear infinite;
}

@keyframes scroll-left-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
